<div class="container">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title" align="center">New Article</h3>
      <%= render 'form' %>
    </div>
    <div class="card-footer">
      <%= link_to 'Back', n_articles_path %>    </div>
  </div>
</div>